<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>

<div class="container">

    <header class="mb-8">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PYTHON-FLASK</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="https://flask.palletsprojects.com/en/2.0.x/api/">Flask
                                    blueprint</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="https://circleci.com/blog/testing-flask-framework-with-pytest/">Flask and
                                    Pytest
                                </a></li>
                                <li><a class="dropdown-item" href="https://github.com/ravivarma138/ci-cd-1">flask
                                    repository</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>

</div>
<div class="row">
    <div class="col-8">
        <p><strong>Project Outline :</strong><br>
            1.Root folder of the project is: <strong>ci-cd-1</strong><br>

            ci-cd-1 <---.github <--- workflows:<br>

            a)dev.yml and prod.yml:<br>

            These are two workflow files in which dev.yml is used for development and prod.yml is used for production
            deployment<br>

            2.<strong>ci-cd-1 <-- app <-- simple pages.</strong><br>
            This folder contains html templates of all the pages in which:<br>
            a)page1.html,page2.html, page3.html and page4.html: These are the pages which are used to display the
            content of that page.<br>
            b)github.html, dockerproj.html, python-flask.html ,and cicd.html:These pages have the content which is
            displayed through page 1,
            page 2, page 3, page 4 respectively<br>

            3.<strong>ci-cd-1 <-- static <--templates.</strong><br>
            This folder contains html template of homepage and also other css, js and a sample image folder.<br>

            a)base.html: This file is basically used as the homepage for our project and it is developed in a z-layout
            format <br>

            4.<strong>ci-cd-1 <-- tests</strong><br>
            This folder contains all the testing files for different folders.<br>

            a)conftest.py: This file is used to do the configuration testing and it also makes the app as well as it
            makes
            the http client and task runner <br>

            b)context_process_test.py: This test checks if the copyright and current year has been printed.<br>

            c)simple_pages_test.py:This page tests all the webpages basing on the status code and responds in that
            way.<br>

            d)docker-compose.yml :This file is used to test and build the project in our local machine.<br>

            e)heroku.yml:This is used for deploying our project as an app in heroku<br>


        </p>
        <p>
            <strong>How can be pytest be useful?</strong>
            If you’ve written unit tests for your Python code before, then you may have used Python’s built-in unittest
            module. unittest provides a solid base on which to build your test suite, but it has a few shortcomings.

            A number of third-party testing frameworks attempt to address some of the issues with unittest, and pytest
            has proven to be one of the most popular. pytest is a feature-rich, plugin-based ecosystem for testing your
            Python code.</p>
        <p>
            If you haven’t had the pleasure of using pytest yet, then you’re in for a treat! Its philosophy and features
            will make your testing experience more productive and enjoyable. With pytest, common tasks require less code
            and advanced tasks can be achieved through a variety of time-saving commands and plugins. It will even run
            your existing tests out of the box, including those written with unittest.

            As with most frameworks, some development patterns that make sense when you first start using pytest can
            start causing pains as your test suite grows.
            This tutorial will help you understand some of the tools pytest provides to keep your testing efficient and
            effective even as it scales.

        </p>

    </div>

</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>
